@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal sane defaults */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background: #f6f6f2;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
